<head>
  <title>Blog</title>
</head>
<div class="container">

  <h1>
    Blog De prueba Python
  </h1>
  <hr />

  <div class="art">
    <h2>
      {{ articulo.titulo }}

    </h2>
    <h3>
      Publicado el {{ articulo.fecha }} por {{ articulo.autor }}
    </h3>
    <p>
      {{ articulo.texto }}
    </p>
  </div>
  <hr />


<h2>
  Comentarios Disponibles
</h2>

{% for c in articulo.comentario_set.all %}
  {{ c.nombre}}: {{c.cuerpo}}
{% endfor %}

<a href="agregar_comentario/{{ articulo.id }}/">Agregar Comentario</a>

</div>